@font-face {
    font-family: 'Monocraft';
    src: url('../fonts/Monocraft.ttf');
}
body{
    --quadrado: 50px;
    background-image: url('../img/fundo.gif');
     background-size: cover;
     background-repeat: no-repeat;
     font-family: 'Monocraft';
     color: white;
}

#conteudo{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#mundo{
    display: flex;
    width: 100%;
    justify-content: center;
}
.titulo-botoes{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao{
    background-color: #858585;
    border: 2px solid black;
    width: 150px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow:inset  3px 3px #a1a1a1, inset  -3px -3px #595959;
    cursor: pointer;

}
.botao:hover{
    font-size: 14px;
}
.camadas{
    display: flex;
    flex-direction: column;
    width: calc(var(--quadrado)*8);
    height: calc(var(--quadrado)*9);
   
}
.aleatoria{
    width: 50px;
    background-color: white;
}
.linha{
    display: flex;
    width: 100%;
}
.bloco{
    width: var(--quadrado);
    height: var(--quadrado);
    background-size: contain;
    background-repeat: no-repeat;
}
.selecionado{
    width: calc(var(--quadrado) - 1px);
    height: calc(var(--quadrado) - 1px);
    border: 1px solid white;
}
.terra{
    background-image: url('../img/terra.png');
}

.terra2{
    background-image: url('../img/terra2.png');
}

.carvao{
    background-image: url('../img/carvao.png');
}

.ferro{
    background-image: url('../img/ferro.png');
}

.ouro{
    background-image: url('../img/ouro.png');
}

.diamante{
    background-image: url('../img/diamante.png');
}

.obsidian{
    background-image: url('../img/obsidian.png');
}

.bedrock{
    background-image: url('../img/bedrock.png');
}



